* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background-color: #66a477;
}

.white {
  background-color: #ece6e0;
}

.selected {
  background-color: #20cde4
}

.configuration {
  margin-top: 20px;
}

.conf-input {
  width: calc(64px * 8);
  height: 64px;
  font-size: 22px;
}
